/* src/app/login/login.component.css */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #e0f7fa; /* Azul claro */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Sombra para darle profundidad */
  }
  
  h2 {
    text-align: center;
    color: #006064; /* Azul petróleo */
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #006064; /* Azul petróleo */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b2ebf2; /* Borde azul claro */
    border-radius: 5px;
    background-color: #ffffff; /* Blanco */
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #00acc1; /* Azul más intenso */
    outline: none;
    box-shadow: 0 0 5px #00acc1;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #00796b; /* Verde azulado */
    color: #ffffff; /* Blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #004d40; /* Verde azulado más oscuro */
  }
  
  .register-link {
    margin-top: 20px; /* Espacio adicional encima */
    text-align: center;
  }
  
  .register-button {
    background-color: transparent;
    color: #006064; /* Azul petróleo */
    border: 1px solid #006064;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .register-button:hover {
    background-color: #006064; /* Azul petróleo */
    color: #ffffff; /* Blanco */
  }
  