.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta el margen superior para separar el slider de los cubos */
  }
  
  input[type="range"] {
    margin-right: 10px;
  }
  
  .clock-container {
    position: relative;
    width: 100%; /* Permitir que los cubos se extiendan más allá del contenedor */
    height: 500px; /* Ajustar la altura según sea necesario */
    overflow: visible; /* Permitir que los cubos caigan fuera del contenedor */
  }
  
  .row {
    display: flex;
    justify-content: center;
    animation: fall infinite 10s linear;
  }
  
  .cube {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid #000;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  