.flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .flower {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .petal {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 100px;
    background-color: pink;
    transform-origin: bottom center;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0.3;
  }
  
  .fully-open {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  
  .semi-open {
    opacity: 0.7;
    transform: scale(0.8) rotate(0deg);
  }
  
  .closed {
    opacity: 0.3;
    transform: scale(0.5) rotate(0deg);
  }
  
  /* Estilos para el slider */
  .time-control {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #hour-slider {
    width: 200px;
    margin-right: 10px;
  }
  
  span {
    font-size: 18px;
    font-weight: bold;
  }
  